In [24]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [25]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dir,PK,2022-04-17 03:42:00,35.2058,71.8756,74.16,18,69,1.83
1,1,Avarua,CK,2022-04-17 03:40:31,-21.2078,-159.7750,82.45,74,64,10.36
2,2,Hobart,AU,2022-04-17 03:42:00,-42.8794,147.3294,82.22,44,0,18.41
3,3,Hermanus,ZA,2022-04-17 03:42:01,-34.4187,19.2345,55.80,85,5,12.19
4,4,New Norfolk,AU,2022-04-17 03:42:01,-42.7826,147.0587,81.88,36,100,3.00

In [26]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
gmaps.configure

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2022-04-17 03:40:31,-21.2078,-159.7750,82.45,74,64,10.36
2,2,Hobart,AU,2022-04-17 03:42:00,-42.8794,147.3294,82.22,44,0,18.41
4,4,New Norfolk,AU,2022-04-17 03:42:01,-42.7826,147.0587,81.88,36,100,3.00
7,7,Champawat,IN,2022-04-17 03:42:02,29.3333,80.1000,78.53,14,0,1.83
10,10,Bathsheba,BB,2022-04-17 03:42:03,13.2167,-59.5167,79.41,78,40,20.71
13,13,Olinda,BR,2022-04-17 03:42:04,-8.0089,-34.8553,82.13,83,75,3.44
18,18,Yenagoa,NG,2022-04-17 03:42:05,4.9247,6.2642,76.93,92,54,3.42
19,19,Rikitea,PF,2022-04-17 03:42:06,-23.1203,-134.9692,78.76,67,20,13.91
26,26,Souillac,MU,2022-04-17 03:42:08,-20.5167,57.5167,77.38,88,75,13.80
30,30,Poum,NC,2022-04-17 03:42:09,-20.2333,164.0167,78.80,63,1,8.59

In [17]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1        Avarua      CK     82.45 -21.2078 -159.7750
2        Hobart      AU     82.22 -42.8794  147.3294
4   New Norfolk      AU     81.88 -42.7826  147.0587
7     Champawat      IN     78.53  29.3333   80.1000
10    Bathsheba      BB     79.41  13.2167  -59.5167
13       Olinda      BR     82.13  -8.0089  -34.8553
18      Yenagoa      NG     76.93   4.9247    6.2642
19      Rikitea      PF     78.76 -23.1203 -134.9692
26     Souillac      MU     77.38 -20.5167   57.5167
30         Poum      NC     78.80 -20.2333  164.0167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
  try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
  except (IndexError):
    print("Hotel not found... skipping.")

IndexError: list index out of range